$text-color: #e1e0df;
$bg-color: #363636;
$bg-light-color: #484848;

$primary-color: #ea6060;
$primary-dark-color: #cf5959;

$secondary-color: #ea9739;
$secondary-dark-color: #a25d24;

$success-color: #4a9d9f;
$success-dark-color: #316a6c;

$alert-color: #e4ce72;
$alert-dark-color: #cab043;

$font-size-normal: 16px;
$font-weight-normal: 400;
$font-weight-bold: 600;

$sans: 'Dosis', sans-serif;