<div>
  <h1>BUTTONS</h1>
  <button sa-button color="primary">Primary Button</button>
  <button sa-button color="primary" disabled>Primary Button Disabled</button>
  <button sa-button color="secondary">Secondary Button</button>
  <button sa-button color="primary" disabled>Secondary Button Disabled</button>
  <button sa-button color="success">Success Button</button>
  <button sa-button color="success" disabled>Success Button Disabled</button>
  <button sa-button color="alert">Alert Button</button>
  <button sa-button color="alert" disabled>Alert Button Disabled</button>
</div>
